<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Ernaehrungsplan -->
      <package
            uri="http://www.example.org/ernaehrungsplan"
            class="de.tu_bs.cs.isf.mbse.ernaehrungsplan.ErnaehrungsplanPackage"
            genModel="model/Ernaehrungsplan.genmodel"/>
   </extension>

</plugin>
